* {
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button {
  cursor: pointer;
}

a, button {
  &:focus {
    outline: dashed $color5 3px;
    outline-offset: 10px;
  }
}