// COLOURS 
// // NEUTRAL
$neutral-light-blue: #bcf1f1;
$neutral-dark-green: #061a0f;

// // FEATURE
$color1: #ffaf87ff;
$color2: #ff8e72ff;
$color3: #ed6a5eff;
$color4: #4ce0b3ff;
$color5: #377771ff;

// WIDTHS
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

// TYPOGRAPHY
// // HEADINGS
$heading-font: 'Manrope', sans-serif;
$heading-light: 300;
$heading-bold: 500;

// // BODY
$body-font: 'Open Sans', sans-serif;
$body-weight: 400;
$body-bold-weight: 700;
$body-size: 18px;