// COLOURS 
$color1: #2d3142ff;
$color2: #4f5d75ff;
$color3: #bfc0c0ff;
$color4: #ffffff;
$color5: #c12a1e;

// WIDTHS
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

// TYPOGRAPHY
// // HEADINGS
$heading-font: 'Manrope', sans-serif;
$heading-light: 300;
$heading-bold: 500;

// // BODY
$body-font: 'Open Sans', sans-serif;
$body-weight: 400;
$body-bold-weight: 700;
$body-size: 18px;